!!! 5
%html.no-js{lang: "en"}
  %head
    %meta{charset: "utf-8"}

    %title= render_page_title
    %meta{name: "description", content: meta_description}
    %meta{name: "keywords", content: meta_keywords}
    %meta{name: "author", content: data.config.site.author}

    %meta{name: "DC.title", content: render_page_title}

    -# Standard viewport tag to set the viewport to the device's width,
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}

    -# Stylesheets
    = stylesheet_link_tag 'styles'

    %link{rel: "author", href: "/humans.txt"}

    -# App Icons
    %link{rel: "shortcut icon", href: "favicon.ico"}

    - if build?
      -# Google Analytics
      = partial "shared/google_analytics"
