- unless current_page.data.illu == 'none'
  %aside.sidebar.hidden-xs.hidden-sm.col-md-3.col-lg-3{role: "complementary"}
    - illu = current_page.data.illu || 'durer'
    .thumbnail
      %img{alt: illu, src: image_path("illus/#{illu}.jpg")}
