.col-sm-3.col-lg-2.hidden-xs.sidebar.sidebar-left
  %ul#menu-submenu.menu
    %li.menu-la-formule-cetl{nav_active("/le-cetl/la-formule-cetl/")}
      %a{href: "/le-cetl/la-formule-cetl/"} La Formule CETL
    %li.menu-programme{nav_active("/le-cetl/calendrier-et-contenu-des-cours/")}
      %a{href: "/le-cetl/calendrier-et-contenu-des-cours/"} Programme
    %li.menu-lieu{nav_active("/le-cetl/lieu/")}
      %a{href: "/le-cetl/lieu/"} Lieu
    %li.menu-conditions-dadmission{nav_active("/le-cetl/conditions-d-admission/")}
      %a{href: "/le-cetl/conditions-d-admission/"} Conditions d’admission
    %li.menu-examens{nav_active("/le-cetl/examens/")}
      %a{href: "/le-cetl/examens/"} Examens
    %li.menu-le-diplome{nav_active("/le-cetl/le-diplome/")}
      %a{href: "/le-cetl/le-diplome/"} Le diplôme
    %li.menu-liste-des-enseignants{nav_active("/le-cetl/liste-des-enseignants/")}
      %a{href: "/le-cetl/liste-des-enseignants/"} Liste des enseignants
    %li.menu-cours-a-distance{nav_active("/le-cetl/cours-a-distance/")}
      %a{href: "/le-cetl/cours-a-distance/"} Cours à distance
    %li.menu-direction{nav_active("/le-cetl/direction/")}
      %a{href: "/le-cetl/direction/"} Direction
