%section.page
  %nav.pagenav
    = image_tag("logo/cetl-logo.png",  class: "logo")
    %ul
      %li
        %a{:href => "#demo-settings"} Basic Settings
      %li
        %a{:href => "#demo-mobile"} Mobile Layout
      %li
        %a{:href => "#demo-breakpoints"} Breakpoints
      %li
        %a{:href => "#demo-screen"} Large-Screens
      %li
        %a{:href => "#demo-complete"} Complete Layout

  %article.main{:role => "main"}
    %header.banner{:role => "banner"}
      %h1 Centre Européen de Traduction Littéraire

    %aside.summary
      %p
        = image_tag("http://www.traduction-litteraire.com/wp-content/themes/CETL/scripts/timthumb.php?src=//wp-content/uploads/2009/10/St_Jerome_in_his_Study_Albrecht_Durer_1514.jpg&w=250&h=320&zc=1")
    .content
      %p Avec le soutien de la Communauté française de Belgique, de la Commission communautaire française. Sous l’égide et dans les locaux de l’Institut Supérieur de Traducteurs et Interprètes de la Communauté française.
      %p
        Cycle postuniversitaire de formation en traduction littéraire.
        %br
        Séminaires et ateliers animés par les plus grands praticiens. Cours à horaire décalé.
      %h2 Formule unique pour les amateurs de traduction littéraire
      %p
        Le CETL est d’abord un centre de formation postuniversitaire axé sur la pratique de la traduction littéraire. Les points forts du cycle sont les séminaires et les ateliers, animés par les plus grands traducteurs littéraires actuels. Quelques cours d’encadrement plus théoriques et des ateliers de stimulation à l’écriture en langue française viennent compléter la formation.
      %p
        C’est ensuite une plaque tournante d’échanges avec le monde professionnel de la traduction littéraire et de l’édition. Des lecteurs de maisons d’édition font partie du jury d’examen final qui sanctionne le mémoire (une traduction originale). Le CETL est un vivier dans lequel éditeurs et instances culturelles diverses peuvent puiser des talents développés et affinés par les professionnels de l’écriture.
      %h2 Informations
      %h3 Calendrier:
      %p Le cycle de formation à la traduction littéraire s’étend sur deux années, chaque fois de janvier à décembre. Les ateliers et les cours se déroulent le week-end, à raison de deux ou trois fois par mois. Tous les congés scolaires sont respectés.
      %h3 Lieu :
      %p
        Institut Supérieur de Traducteurs et Interprètes de la Communauté française de Belgique (ISTI), 34 rue Joseph Hazard – 1180 Bruxelles (Uccle)
        %br
        %strong
          Pour toute information complémentaire,
          %a{:href => "http://www.traduction-litteraire.com/contact", :target => "_self", :title => "Contactez-nous"} contactez-nous
