---
title: Article et interviews
layout: 'articles'
---

<h2>Interviews</h2>

<article>
  <h3>
    <a href="https://www.youtube.com/watch?v=vgfoyyqr6iM" target="_blank">
      Françoise Wuilmart at UWA
    </a>
  </h3>
</article>
  
<h2>De la traduction littéraire</h2>
<% if blog.articles %>
  <% blog.articles.sort_by{|a| a.data.id.to_i }.each do |article| %>
    <article class='article'>
      <h3>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h3>
    </article>
  <% end %>
<% end %>
