---
title: De la traduction litteraire
---

<% if blog.articles %>
  <% blog.articles.reverse.each do |article| %>
    <article class='media'>
      <h3>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h3>
      <small>
        <p>
          <i class="glyphicon glyphicon-tag"></i>
          <%= article.data.category %>
        </p>
      </small>
      <a href="<%= article.url %>">Lire l'article</a>
    </article>
  <% end %>
<% end %>
