---
title: De la traduction litteraire
layout: 'articles'
---

<% if blog.articles %>
  <% blog.articles.sort_by{|a| a.data.id}.each do |article| %>
    <article class='article'>
      <h3>
        <a href="<%= article.url %>"><%= article.title %></a>
      </h3>
    </article>
  <% end %>
<% end %>
