---
title: Ateliers
---

<% if data.workshops %>
<% data.workshops.each do |workshop| %>

<h3 class='text-danger'><%= workshop.date %></h3>

### <%= workshop.title %>

<%= workshop.body %>

<% end %>
<% end %>
