---
title: Ateliers
---

### Calendrier des congés officiels

- Mardi gras: 9 février
- Vacances de printemps (Pâques): du 28 mars au 9 avril
- Fête du travail: dimanche 1 mai
- Ascension: jeudi 5 mai
- Lundi de Pentecôte: 16 mai
- Vacances d'été: juillet et août

<hr>

### Ateliers de traduction, d’écriture et séminaires (uniquement le samedi) : de 10h à 13h et de 14h 30 à 16h 30

#### Lieu : ULB, locaux à déterminer

* Ateliers de traduction
* Séminaires sur Droits d’auteur, Pratique de l’édition, Déontologie de la traduction (Olivier Mannoni – 2 x 5 heures, premier semestre)
* Séminaires d’analyse textuelle (Jean-Claude Lebrun  – 3 x 5 heures, second semestre)

<hr>

<% if data.workshops %>
<% data.workshops.each do |workshop| %>
<article class="event">
<h4 class='muted'><%= workshop.date %></h4>
<h3><%= workshop.title %></h3>
<%= workshop.body %>
</article>
<% end %>
<% end %>
